*{
    font-weight: lighter;
}
body{
    
    padding-top: 1rem;
    padding-bottom: 1rem;

    padding-left: 2rem;
    padding-right: 2rem;
    border-left: gray solid 5px;
    font-family:sans-serif ;
    min-height: 100vh;
    max-width: 1000;
}
header{
    color: tomato;
    font-size: 80px;
    margin-bottom: 20px;

    
}
.subHeader{
font-size: 40px;
margin-top: 10px;
}
h2{
    font-size: 50px;
    
}
h3{
    font-size: 30px;
    color: grey;
}
ul{
    font-size: 30px;
    display: flex;
    justify-content:space-between;
    
    

}
a{
    color: grey;
    margin-bottom: 4rem;
    
    
}
p{
    font-size: 25px;
   color: gray;
}
p::first-letter{
   font-size: 10rem;
   float: left;
   line-height: 0.7;
   font-family:Georgia;
   
}
img{
    width: 94vw;
}
.continue{
    color: tomato;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    text-decoration-line: none;
}
.end{
    color: tomato;
    text-decoration-line: none;
}
footer{
    color:gray
}
